.flat-banner {
  height:50vh;
  background-size: cover;
  margin-bottom:10px;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    background-color: $airbnb-red
  }
}





